body *{
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-weight: 500;
    font-size: 40px;
    text-align: center;
    margin: 40px;
    font-family: 'Tahoma', sans-serif;
}

h3 {
    text-align: left;
    font-family: 'Bebas Neue', sans-serif;
}

p {
    text-align: left;
    font-size: 15px;
    text-align: justify;
}

body {
    background-color: lightgray;
}

.page {
    width: 900px;
    background-color: rgb(255, 255, 255);
    margin: auto;
    padding: 50px;
    padding-top: 35px;
}
.item1 { grid-area: header; }
.item2 { grid-area: desc1; }
.item3 { grid-area: vis1; }
.item4 { grid-area: desc2; }
.item5 { grid-area: vis2; }
.item6 { grid-area: desc3; }
.item7 { grid-area: vis3; }
.item8 { grid-area: desc4; }
.item9 { grid-area: vis4; }

.vega-bind {
    margin-top: 10px;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header '
    'desc1 desc1 desc1 desc1 desc1 desc1 '
    'vis1 vis1 vis1 vis1 vis1 vis1 '
    'desc2 desc2 desc2 desc2 desc2 desc2 '
    'vis2 vis2 vis2 vis2 vis2 vis2 '
    'desc3 vis3 vis3 vis3 vis3 vis3 '
    'desc4 vis4 vis4 vis4 vis4 vis4 ';
  gap: 30px;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
}
}

#vg-tooltip-element tr:nth-child(6) td:first-child {
    color: #cbbf12
}
